<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>投资大师</title>
    <meta name="keywords" content="free template,  ecommerce, online shopping, store"/>
    <meta name="description"
          content="Floral Shop is free website template for ecommerce or online shopping websites. Products, Shopping Cart, FAQs and Checkout pages are included."/>
    <link href="templatemo_style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/orman.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="${contextPath}/webresources/css/ddsmoothmenu.css"/>
    <link rel="stylesheet" type="text/css" href="${contextPath}/webresources/css/troy.css"/>
    <script type="text/javascript" src="${contextPath}/webresources/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="${contextPath}/webresources/js/ddsmoothmenu.js"></script>

    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "templatemo_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        });


        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }




    </script>


    <link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen"/>
    <script type="text/JavaScript" src="js/slimbox2.js"></script>
    <style type="text/css">
        .validate {
            width: 75px;
            height: 26px;
            line-height: 25px;
            position: absolute;
            bottom: 39px;
            left: 160px;
        }

    </style>

</head>

<body>
<div style="width:100%;">
    <iframe src="title.jsp" scrolling="no"  class="titleFrame"></iframe>
</div>
<div style="width:100%;">
    <iframe src="head.jsp" class="headFrame"  scrolling="no" ></iframe>
</div>
<div style="width:100%;">
    <iframe src="search.jsp" class="searchFrame"  scrolling="no" ></iframe>
</div>

<div id="templatemo_main_wrapper">
    <div id="templatemo_main">
        <div id="sidebar" class="left">
            <iframe src="leftGuide.jsp" class="leftGuideFrame"  scrolling="no" ></iframe>
        </div>

        <div id="content" class="right">
            <iframe src="content.jsp" class="contentFrame"  scrolling="no" ></iframe>
        </div>
        <div class="cleaner"></div>
    </div>
    <!-- END of main -->
</div>
<!-- END of main wrapper -->

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
        <div class="footer_left">
            <p>COPYRIGHT &copy; 2014.投资大师网 ALL RIGHTS RESERVED</p>
            <ul style="margin-left: -50px">
                <li><a href="index.html">设为首页</a></li>
                <li><a href="about.html">收藏网站</a></li>
                <li><a href="products.html">投资大师</a></li>
                <li><a href="checkout.html">服务咨询</a></li>
                <li><a href="contact.html">投资交流专区</a></li>
                <li style="border-right:0px;"><a href="faqs.html">意见反馈</a></li>
            </ul>
        </div>
        <div class="cleaner"></div>
    </div>
    <!-- END of footer -->
</div>
<!-- END of footer wrapper -->
</div>

</body>
<!--<script type='text/javascript' src='js/logging.js'></script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>-->
</html>